    {% extends "base.html" %}

    {% load static %}

    {% block style %} 
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/headerStyles.css' %}">
        <link rel="stylesheet" href="{% static 'css/sectionStyles.css' %}">
        <link rel="stylesheet" href="{% static 'css/footerStyles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% endblock %}

    {% block script %} {% endblock %}

    {% block body %}
        <header>
            <div class="divTitle">
                <h1>STORE PRICE LIST</h1>
            </div>

            <div class="accountButtonContainer">
                <a style="text-decoration: none;" href="{% url 'registerPage' %}">
                    <button id="accountButton" class="accountButton" type="accountButton">Account<i class="fa fa-user"></i></button>
                </a>
            </div>
        </header>

        <section class="section-container">
            <div class="store-list">
                {% for store in store_list %}
                    <div class="store-item">
                        <h2 class="store-name">{{ store.store_name }}</h2>
                        <p><strong>Address:</strong> {{ store.address }}, {{ store.zip_code }}</p>
                        <p><strong>Phone:</strong> {{ store.phone }}</p>
                        <p><strong>Email:</strong> {{ store.email_address }}</p>
                        <p><strong>Description:</strong> {{ store.description }}</p>
                        
                        <table class="inventory-table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inventory in inventory_list %}
                                    {% if inventory.store_profile == store %}
                                        <tr>
                                            <td>{{ inventory.product_name }}</td>
                                            <td>{{ inventory.product_description }}</td>
                                            <td>{{ inventory.price }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </section>
        

        <footer>
            <div class="divfooter">
                <a href="#about" onclick="showContent('about')">About</a>
                <a href="#contact" onclick="showContent('contact')">Contact</a>
                <a href="#termsofservice" onclick="showContent('terms')">Terms of Service</a>
                <a href="#privacypolicy" onclick="showContent('privacy')">Privacy Policy</a>
            </div>
        </footer>

        <!-- Slide Navigation -->
        <div class="slide-nav" id="slideNav">
            <div class="slide-content" id="slideContent">
                <h2 id="slideTitle"></h2>
                <p id="slideText"></p>
                
            <span class="close-btn" onclick="closeSlideNav()">X</span>
            </div>
        </div>


        <script src="{% static 'js/footerAnimation.js' %}"></script>

    {%  endblock %}